/* bouton */
.button {
    background-color: var(--light-gray);
    border: 3px solid var(--button-border-color);
    box-shadow: 6px 6px 0 var(--black);
    cursor: pointer;
    font-weight: bold;
    padding: calc(2 * var(--space-base));
}

.button:hover {
    background-color: var(--white);
    box-shadow: 3px 3px 0 var(--black);
}

.button:active {
    background-color: var(--black);
    box-shadow: 0 0 0 var(--black);
    color: var(--white);
}
